* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container6 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4rem;
    /* align-items: center; */
    justify-content: center;
}

.container6 .values-nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* position: fixed;
    top: 0; */
    /* left: 0; */
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(45deg,violet,indigo,cyan,violet) ;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* animation: zooms 5s infinite; */
}


@keyframes zooms {
    from {
      background-image:linear-gradient(45deg,violet,indigo,cyan,violet) ;
    }
    to {
      background-image:url('../images/x-mas3.png') ;
    
  }
  }

  .values-nav .overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(76, 0, 130, 0.331);
  }
  
  .container6 .values-nav img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .values-nav ul {
    display: flex;
    width: 100%;
    /* height: 80%; */
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }

  .values-nav li {
    display: flex;
    gap: 1rem;
    font-size: 20px;
  }

  .values-nav li a {
    color: white;
  }

  .values-nav li a:hover {
    text-decoration: underline;
    color: aqua;
  }

  .values-nav .Chimera-logo {
    display: flex;
    width: 25%;
    align-items: center;
    /* justify-content: center; */
    font-size: 26px;
    /* color: white; */
    background-size: linear;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
     z-index: 2;
     background-image: linear-gradient(45deg,orange,gold,white,grey);

  }

  .drop-down {
    position: relative;
    display: inline-block;
    width:14% ;
    height: 90px;
    justify-content: center;
   
}

.drop-down .hover {
  display: flex;
  width: 70%;
  /* height: 67%; */
  justify-content: center;
  margin: 2.1rem;
  font-size:20px ;
  gap: 10px;
}

.hover a {
  color: white;
}

.hover i {
  color: gold;
}

.dropdown-contents {
  display: none;
  position: absolute;
  background-image: linear-gradient(45deg,grey,white,grey);
  width: 89%;
  box-shadow: 0 8px 16px 0 rgba(255, 192, 203, 0.679);
  padding: 12px 16px;
  margin: 0 10px;
  z-index: 1;
  font-size: 20px;
}

.drop-down .links a {
  display: flex;
  color: indianred;
}

.links a:hover {
  color: blue;
  text-decoration: underline;
}

.drop-down:hover  .dropdown-contents {
    display: block;
}

 .nav a:hover {
   text-decoration: underline 1px solid;
}

.Chimera-logo img {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(360deg) ;
  }
}

.container6 .home-values {
    display: flex;
    width: 100%;
    font-size: 25px;
} 

.home-values a,span {
    display: flex;
    width: 160px;
    justify-content: center;
    color: aqua;
}

.home-values a {
    border-right: 1px solid;
    background-size: linear;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border-radius: 18px; */
    z-index: 2;
    background-image: linear-gradient(45deg,violet,violet,deeppink,blue,white);
   
}

.home-values a:hover {
    animation: spinning 4s infinite;
}

@keyframes spinning {
    from {
        transform: rotate(360deg);
    }
}

.container6 .main-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

.container6 .main-contents h1 {
    font-size: 40px;
    background-size: linear;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
     /* border-radius: 18px; */
     z-index: 2;
     background-image: linear-gradient(45deg,violet,blue,aqua,red,yellow,red,blue,deeppink,white);
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  .container6 .main-contents .sub-topic {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    gap: 1rem;
  }

  .main-contents .sub-topic h2 {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    align-items: center;
    justify-content: center;
    font-size: 35px;
    padding: 0 1rem;
    background-image: linear-gradient(45deg,deeppink, blue,orange,red);
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    
    position: relative;
   
    /* text-transform: uppercase; */
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block; 
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  } 

  .main-contents .topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .main-contents .sub-topic p {
    width: 80%;
    font-size: 23px;
  }

  .sub-topic ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    gap: 2rem;
    align-items: center;
    
  }

  .sub-topic ul li {
    width: 90%;
    font-size: 25px;
  }

 .topics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
  }

  .topics p {
    color: black;
  }

  .topics span {
    font-size: 30px;
    
  }

  .sub-topic ul li {
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgba(128, 128, 128, 0.734);
  }

  ul  li i {
    color: yellow;
  }

  .values-footer {
    display: flex;
    width:100%;
    height: 80%;
    /* gap:6rem; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr ; */
    align-items:center;
    justify-content: center;
    background-image:linear-gradient(45deg,blue,cyan,blue);
    
  }
  
  .values-footer .overlay {
    display:flex;
    /* flex-direction:column; */
    align-items:center;
    justify-content:center;
    background:rgba(0, 0, 0, 0.341);
    /* background-color: grey; */
    width:100% ;
    height:100%;
    /* gap: 2rem; */
  }
  
  .values-footer img {
    width:40px;
    height:40px;
    border-radius:50%;
    animation: turn 5s linear infinite;
  
  }
  
  @keyframes turn {
    from {
      transform: rotate(360deg);
    }
  }
  
  .values-footer .folios  {
    display:grid;
    width:80%;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:10px;
    align-items:center;
    justify-content: center;
  } 
  
   .folios .services {
    display:flex;
    flex-direction:column;
    /* width: 70%; */
    /* height: 100%; */
    gap:1rem;
    align-items:center;
    justify-content:center;
   
  }
  
  .services .heading {
    display: flex;
    width:198px;
    gap:8px;
    align-items:center;
    justify-content:end;
    /* padding-top: 10px; */
  }
  
  .services ul {
    display:flex;
    flex-direction:column;
    width:84%;
    /* height:55%; */
    gap:1rem;
    align-items: center;
  
  }
  
  .services ul li a {
    display:flex;
    flex-direction: column;
    width:360px;
    align-items: center;
    justify-content:center;
    color: white;
    font-size: 20px;
    
  }
  
  .company {
    display:flex;
    flex-direction:column;
    /* width: 60%; */
    /* height: 100%; */
    gap:1rem;
    align-items:center;
    justify-content:center;
  }
  
  .company ul {
    display:flex;
    flex-direction:column;
    /* width:370px; */
    /* height:55%; */
    gap:10px;
    align-items: center;
    /* margin: 10px; */
  }
  
  .company li a {
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content:center;
    color: white;
    font-size: 20px;
  }
  
  .folios h3 {
    color:white;
    font-size:30px;
    margin: 10px;
    background-size: linear;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    background-image: linear-gradient(45deg, #41a5ee,cyan,#2065c2,violet,gold,orange);
  }
  
  .legal {
    display:flex;
    flex-direction:column;
    /* width: 60%; */
    /* height: 100%; */
    gap:1rem;
    align-items:center;
    justify-content:center;
  }
  
  .legal ul {
    display:flex;
    flex-direction:column;
    width:86%;
    /* height:55%; */
    gap:1rem;
    align-items: center;
  }
  
  .legal li a {
    display:flex;
    flex-direction: column;
    /* width:100%; */
    align-items: center;
    justify-content:center;
    color: white;
    font-size: 20px;
  }
  
  .folios li a:hover {
    color: violet;
    text-decoration: underline;
    background-size: linear;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    background-image: linear-gradient(45deg,orange,white,gold,grey);
    transition: 400ms ease-in-out;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation:glow 1s ease-in-out infinite alternate ;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  .footer .our-contacts {
    display: flex;
    width: 30%;
    height: 56%;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    /* margin: 10px; */
  }
  
  .our-contacts .offices {
    display: flex;
    width: 220px;
    height: 58px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* margin: 1rem; */
  }
  
  .offices .fonts {
    display: flex;
    width: 170px;
    height: 68px;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    /* margin: 5px; */
  }
  
  .fonts i {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: end;
    justify-content: center;
  }
  
  .our-contacts h3 {
    font-size: 27px;
    background-size: linear;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    background-image: linear-gradient(45deg,lightblue,orangered,violet,blue,gold);
  }
  
  .our-contacts .places {
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 40%;
    align-items:center;
    gap:10px;
    margin: 1rem;
  }
  
  
  .places span {
    display:flex;
    flex-direction:column;
    width:100%;
    height: 25px;
    font-size:20px;
    align-items :center;
  }
  
  .our-contacts .location {
    display:flex;
    flex-direction:column;
    gap:6px;
  }